html {
	overflow: hidden;
}

body {
	margin: 0px;
	padding: 0px;
}

#container {
	position: absolute;
	top: 87%;
	left: 16.5%; /*25*/
}

.blink-image {
    width: 80px;
    height: 80px;
    -moz-animation: blink normal 1s infinite ease-in-out;
    -webkit-animation: blink normal 1s infinite ease-in-out;
    animation: blink normal 1s infinite ease-in-out;
}

@-moz-keyframes blink {
    0% {opacity:1;}
    50% {opacity:0;}
    100% {opacity:1;}
} 

@-webkit-keyframes blink {
    0% {opacity:1;}
    50% {opacity:0;}
    100% {opacity:1;}
}

@keyframes blink {
    0% {opacity:1;}
    50% {opacity:0;}
    100% {opacity:1;}
} 
